body {
    text-align: center;
}

h1 {
    font-family: 'Frijole', cursive;
    font-size: 70px;
    margin: 0.2em;
}
.box{
    width: 400px;
    margin: 0 auto;
    background: rgba(236, 236, 253, 0);
    box-shadow: hsla(0, 0%, 0%, 0.08) 0px 4px 25px;
    padding: 10px;
    /* box-shadow:  inset 5em 1em gold; */
}

h2 {
    margin: 1em 0 0.25em;
    font-family: 'Poppins', 'sans-serif';
    color: #212121;
    font-size: 1.2rem;
   
}

h2:first-of-type {
    margin-top: 0.5em;
    padding-bottom: 1.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}
#sizePicker{
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    font-size: 0.8rem;

}
input[type=number] {
    width: 6em;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400; 
}
input[type=number]:focus{
    border: 2px solid #1f0a82;
    outline: none;
    
}

input[type=submit]{
    padding: 2rem;
}
